@font-face {
    font-family: "Great Vibes";
    src: url("../fonts/Great_Vibes/GreatVibes-Regular.ttf");
}

@font-face {
    font-family: 'Fira Sans';
    src: url("../fonts/Fira_Sans/FiraSans-Regular.ttf");
}

.img_wrap img {
    width: 100%;
    transition-duration: 0.5s;
}

.img_wrap:hover img {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

img {
    max-width: 100%;
}

a.menu_link_style {
    color: black;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

main,
aside {
    min-height: 95vh;
    padding-top: 80px !important;
}

.blockquote-default {
    position: relative;
    padding: 15px 8px;
    box-sizing: border-box;
    font-style: italic;
    background: #efefef;
    color: #555;
    border-radius: 5px;
    border-left: 3px solid #40c4ff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}

// .blockquote-default:before {
//     display: inline-block;
//     position: absolute;
//     top: 13px;
//     left: 15px;
//     font-family: "Material Icons";
//     content: "format_quote";
//     color: #40c4ff;
//     font-size: 28px;
//     line-height: 1;
//     font-weight: 900;
// }

.blockquote-default cite {
    display: block;
    color: #888;
    font-size: .9em;
    text-align: left;
}