@font-face {
    font-family: "Great Vibes";
    src: url("../fonts/Great_Vibes/GreatVibes-Regular.ttf");
}

@font-face {
    font-family: 'Fira Sans';
    src: url("../fonts/Fira_Sans/FiraSans-Regular.ttf");
}

.img_wrap img {
    width: 100%;
    transition-duration: 0.5s;
}

.img_wrap:hover img {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

img {
    max-width: 100%;
}

a.menu_link_style {
    color: black;
    text-decoration: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

main, aside {
    min-height: 95vh;
    padding-top: 80px !important;
}