/* 
記載方法 FLOCSS
https://github.com/hiloki/flocss
*/

@import "tailwindcss";

/* Layout */
header {
    z-index: 1;
}

/* Component */
svg {
    pointer-events: none;
}

#c-bg-image {
    background: url(/img/bg_image.png) no-repeat center center fixed;
    background-size: cover;
}

.font_dancing_script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.twitter-timeline {
    width: 300px;
}