/* 
記載方法 FLOCSS
https://github.com/hiloki/flocss
*/


@import url(./top.css);

header {
    z-index: 1;
}

svg {
    pointer-events: none;
}

.font_dancing_script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.twitter-timeline {
    width: 300px;
}