#post .shiki {
  display: block;
  padding: 10px 20px;
  overflow: auto;
}

#post img {
  border: 1px solid black;
}

#post h2 {
  font-weight: bold;
  font-size: 25px;
  padding: 30px 0 10px 0;
}

#post h3 {
  font-weight: bold;
  font-size: 22px;
  padding: 20px 0 5px 0;
}

#post h4 {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 0 5px 0;
}

#post h5 {
  font-weight: bold;
  font-size: 818px;
  padding: 10px 0 5px 0;
}

/* 目次クリック時にヘッダーと被らないように調整 */
#post h2:before,
#post h3:before,
#post h4:before,
#post h5:before,
#post h6:before {
  content: '';
  display: block;
  height: 100px;
  margin-top: -70px;
  visibility: hidden;
}

/* 参考: https://saruwakakun.com/html-css/reference/blockquote */
#post blockquote {
  position: relative;
  padding: 35px 15px 10px 15px;
  box-sizing: border-box;
  font-style: italic;
  background: #f5f5f5;
  color: #777777;
  border-left: 4px solid #9dd4ff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14);
}

#post blockquote:before {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 15px;
  content: '\f10d';
  font-family: FontAwesome;
  color: #9dd4ff;
  font-size: 28px;
  line-height: 1;
  font-weight: 900;
}

#post blockquote p {
  padding: 0;
  margin: 7px 0;
  line-height: 1.7;
}

#post blockquote cite {
  display: block;
  text-align: right;
  color: #888888;
  font-size: 0.3em;
}
