@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes cardSlideIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes textFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.card-slide-in {
    animation: cardSlideIn 0.8s ease-out;
}

.text-fade-in {
    animation: textFadeIn 1s ease-out;
    animation-delay: 0.5s;
}

.hover-effect {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-effect:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.bg-summer {
    background: linear-gradient(to right, #fbc2eb, #a6c0fe); /* 夏のグラデーション */
}

.text-summer {
    color: #ff7e5f; /* 夏らしいアクセントカラー */
}

.border-summer {
    border-color: #ff7e5f;
}