#c-title-box {
    height: calc(100vh - 3.5rem);
    position: relative;
}

#c-top-title {
    color: #fff;
    font-size: clamp(30px, 5vw, 50px);
    font-weight: 700;
    letter-spacing: 0.2em;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
    height: 3.2rem;
}

#c-top-title span {
    display: inline-block;
    text-shadow: 4px 4px 4px #80D8FF, -4px -4px 4px #80D8FF,
        -4px 4px 4px #80D8FF, 4px -4px 4px #80D8FF,
        4px 0 4px #80D8FF, -4px 0 4px #80D8FF,
        0 4px 4px #80D8FF, 0 -4px 4px #80D8FF;
}